name: Build Kernel

on:
  workflow_dispatch:

jobs:
  build-kernel:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout config and source repos
        uses: actions/checkout@v4

      - name: Load config.env variables
        run: |
          while IFS='=' read -r key value; do
            [[ $key =~ ^#.*$ || -z $key ]] && continue
            echo "$key=$value" >> $GITHUB_ENV
          done < config.env

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt install python2 libncurses5
          sudo apt-get install libselinux-dev

      - name: Pull Clang Toolchain
        run: |
          mkdir -p greenforce-clang          
          curl -L https://github.com/greenforce-project/greenforce_clang/releases/download/01062025/greenforce-clang-21.0.0git-01062025.tar.gz | tar -xzv -C greenforce-clang

      - name: Clone Kernel Source
        run: |
          git clone --depth=1 https://x-access-token:${{ secrets.GH_PAT }}@github.com/AIV-97/kernel_6115.git -b ${{ env.KERNEL_SOURCE_BRANCH }} kernel-source

      - name: Prepare AnyKernel3 Directory
        run: |
          git clone --depth=1 ${{ env.ANYKERNEL_SOURCE }} -b ${{ env.ANYKERNEL_SOURCE_BRANCH }} AnyKernel3
          rm -rf AnyKernel3/.git AnyKernel3/.github AnyKernel3/LICENSE AnyKernel3/README.md

      - name: Build Kernel & dtbo.img
        run: |
          export KBUILD_BUILD_USER="Fraschze97"
          export PATH=$GITHUB_WORKSPACE/greenforce-clang/bin:$PATH

          cd kernel-source
          clang -v

          args="ARCH=arm64 O=../out LD=ld.lld LLVM=1 LLVM_IAS=1"

          KFLAGS="-Wno-default-const-init-var-unsafe \
                -Wdefault-const-init-field-unsafe \
                -Wimplicit-enum-enum-cast \
                -Wno-unused-value \
                -Wno-type-limits"

          make KCFLAGS="$KFLAGS" $args $KERNEL_CONFIG
          make -j$(nproc) KCFLAGS="$KFLAGS" $args Image dtb.img dtbo.img

      - name: Package kernel
        run: |
          cd AnyKernel3

          if [[ -f ../out/arch/arm64/boot/Image.gz-dtb ]]; then
            cp ../out/arch/arm64/boot/Image.gz-dtb Image.gz-dtb
          elif [[ -f ../out/arch/arm64/boot/Image-dtb ]]; then
            cp ../out/arch/arm64/boot/Image-dtb Image-dtb
          elif [[ -f ../out/arch/arm64/boot/Image.gz ]]; then
            cp ../out/arch/arm64/boot/Image.gz Image.gz
          elif [[ -f ../out/arch/arm64/boot/Image ]]; then
            cp ../out/arch/arm64/boot/Image Image
          else
            echo "âŒ No kernel Image found! Build may have failed." && exit 1
          fi
          if [[ -f ../out/arch/arm64/boot/dtbo.img ]]; then
            cp ../out/arch/arm64/boot/dtbo.img dtbo.img
          fi
       
      - name: Package Kernel ZIP
        run: |
          DATE=$(date +%d%m%y)
          RAND=$(shuf -i 1000-9999 -n 1)
          KERNEL_NAME="bengal"

          cd AnyKernel3
          zip -r9 "../Cassia-${KERNEL_NAME}-perf-${DATE}-${RAND}.zip" . -x "*.git*" "*.md"

          echo "NEW_ZIP_NAME=Cassia-${KERNEL_NAME}-perf-${DATE}-${RAND}.zip" >> $GITHUB_ENV

      - name: Upload Kernel ZIP Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Kernel-ZIP
          path: ${{ env.NEW_ZIP_NAME }}

      - name: Extract Build Info
        id: extract
        run: |
          echo "BRANCH=${{ env.KERNEL_SOURCE_BRANCH }}" >> $GITHUB_ENV
          echo "DATE=$(date +%d%m%y)" >> $GITHUB_ENV
          echo "KERNEL_NAME=bengal" >> $GITHUB_ENV
          echo "LINUX_VER=$(cat kernel-source/out/include/generated/utsrelease.h 2>/dev/null | cut -d '\"' -f2 || echo 'unknown')" >> $GITHUB_ENV
          echo "LATEST_COMMIT=$(cd kernel-source && git log -1 --pretty=format:'%s (%an)' 2>/dev/null || echo 'unknown')" >> $GITHUB_ENV
          echo "CLANG_VERSION=$(clang/bin/clang --version | head -n1)" >> $GITHUB_ENV

      - name: Upload Kernel ZIP to Telegram
        env:
          BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          CHAT_ID: ${{ secrets.TG_CHAT_ID }}
          BRANCH: ${{ env.BRANCH }}
          LINUX_VER: ${{ env.LINUX_VER }}
          LATEST_COMMIT: ${{ env.LATEST_COMMIT }}
          CLANG_VERSION: ${{ env.CLANG_VERSION }}
          NEW_ZIP_NAME: ${{ env.NEW_ZIP_NAME }}
          DATE: ${{ env.DATE }}
          KERNEL_NAME: ${{ env.KERNEL_NAME }}
        run: |
          TEXT="Branch: $BRANCH
          Linux version: $LINUX_VER
          Latest commit: $LATEST_COMMIT
          Compiler: $CLANG_VERSION
          Link: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          Tags: #$DATE #${KERNEL_NAME}KSU #stable"

          curl -s -X POST https://api.telegram.org/bot$BOT_TOKEN/sendMessage \
            -d chat_id=$CHAT_ID -d text="$TEXT" -d parse_mode="HTML"

          curl -F document=@"$NEW_ZIP_NAME" -F chat_id=$CHAT_ID \
               -F caption="$NEW_ZIP_NAME" https://api.telegram.org/bot$BOT_TOKEN/sendDocument